<div align="center">
    <h2>Student Addition</h2>
    <div  [hidden]="submitted" style="width: 400px;">
      <form (ngSubmit)="insertStudent()">
    
        <div class="form-group">
          <label for="rollNumber">Roll Number:</label>
        <input type="text" class="form-control" id="rollNumber" [(ngModel)]="student.rollNumber" name="rollNumber" value="{{newRoll}}" readonly />
       </div>

       <div class="form-group">
        <label for="studentName">Student Name:</label>
      <input type="text" class="form-control" id="studentName" [(ngModel)]="student.studentName" name="studentName"/>
     </div>

     <div class="form-group">
      <label for="coursetName">Course Name:</label>
    <input type="text" class="form-control" id="courseName" [(ngModel)]="student.courseName" name="courseName"/>
   </div>

   <div class="form-group">
    <label for="subject1">Subject1 Mark:</label>
  <input type="text" class="form-control" id="subject1" [(ngModel)]="student.subject1" name="subject1"/>
 </div>

 <div class="form-group">
  <label for="subject2">Subject2 Mark:</label>
<input type="text" class="form-control" id="subject2" [(ngModel)]="student.subject2" name="subject2"/>
</div>

<div class="form-group">
  <label for="subject3">Subject3 Mark:</label>
<input type="text" class="form-control" id="subject3" [(ngModel)]="student.subject3" name="subject3"/>
</div>

<div class="form-group">
  <label for="totalMarks"></label>
  <input type="hidden" class="form-control" id="totalMarks" [(ngModel)]="student.totalMarks" name="totalMarks" value="0.0"/>
</div>

<div class="form-group">
  <label for="grade"></label>
  <input type="hidden" class="form-control" id="grade" [(ngModel)]="student.grade" name="grade" value="L"/>
</div>
 
<button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<div  [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button (click)="returnBack()" class="btn btn-primary">Back to Student List</button><br>
</div>


    
</div>
